  /* Universal Styles */

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'), url(https://fonts.gstatic.com/s/barlowcondensed/v1/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Barlow Condensed SemiBold'), local('BarlowCondensed-SemiBold'), url(https://fonts.gstatic.com/s/barlowcondensed/v1/HTxwL3I-JCGChYJ8VI-L6OO_au7B4873z3bWuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  src: local('Barlow Condensed ExtraBold'), local('BarlowCondensed-ExtraBold'), url(https://fonts.gstatic.com/s/barlowcondensed/v1/HTxwL3I-JCGChYJ8VI-L6OO_au7B47b1z3bWuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: "Barlow Condensed", sans-serif;
  color: #4a4a4a;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

  /*Header*/

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

header .content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem 1rem 1.5rem;
  font-size: 2rem;
  height: 4rem;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

.mobile {
  display: none;
}

.desktop ul li {
  margin-left: 1rem;
}

ul li a {
  transition: color 0.15s ease-out;
}

ul li a:hover {
  color: #4a90e2;
}

#logo {
  display: flex;
  align-items: center;
}

#logo a img {
  height: 4rem;
  margin-top: 0.5rem;
}

#logo a {
  color: #9b9b9b;
}

#logo a span {
  color: #000;
  font-weight: 600;
}

@media only screen and (max-width: 1085px) {
  #logo, .desktop {
    display: none;
  }

  header .content {
    height: 3.5rem;
  }

  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 4rem;
  }

  .mobile a img {
    height: 4rem;
  }
}

  /*Main content*/

main {
    position: relative;
    top: 6rem;
}

@media only screen and (max-width: 1085px) {
  main {
    top: 5.5rem;
  }
}

    /*Banner*/

.banner {
  display: flex;
  align-items: center;
  background: #d8d8d8;
}

.banner-image,
.info-main {
  margin: 3rem 5rem 3rem 2.05rem;
  max-width: 55%;
}

.banner-image img,
.info-main img {
  max-width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
}

.banner-text h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.banner-text p {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.start-button {
  position: relative;
  background: #4a4a4a;
  text-align: center;
  color: #fff;
  padding: 1.3rem 0;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.start-button span a {
  color: #fff;
  text-transform: uppercase;
}

.start-button:hover {
  background: #222;
}

.start-button:active {
  top: 1px;
}

@media only screen and (max-width: 1480px) {
  .banner-text h1 {
    font-size: 4rem;
  }

  .banner-text p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1260px) {
  .banner-text h1 {
    font-size: 3rem;
  }

  .banner-text p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1085px) {
  .banner {
    flex-direction: column;
  }

  .banner-image {
    max-width: 100%;
    margin: 0;
  }

  .banner-text {
    width: 90%;
  }

  .banner-text h1 {
    margin-top: 1.5rem;
    font-size: 3rem;
  }

  br {
    display: none;
  }

  .banner-text p {
    font-size: 1.5rem;
  }

  .start-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

    /*Information section*/

.information {
  display: flex;
  background: #f3f5f5;
}

.info-main h2 {
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0;
}

.info-main {
  font-size: 1.75rem;
}

.info-main p {
  margin-bottom: 4rem;
}

.info-main span {
  font-family: sans-serif;
  font-size: 1.2rem;
}

.info-articles {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 3rem 0;
}

.info-article,
.thesis {
  padding: 1rem 3rem 1rem 2rem;
  display: flex;
  align-items: center;
  border-left: 1px solid #d8d8d8;
  transition: background 0.2s ease-out;
}

.info-article:hover,
.thesis:hover {
  background: #d8d8d8;
}

.course-image img {
  max-width: 100%;
}

.info-text,
.thesis-text {
  margin-left: 2rem;
}

.mobile-image {
  display: none;
}

@media only screen and (max-width: 1085px) {
  .info-main,
  .info-image {
    display: none;
  }

  .mobile-image {
    display: flex;
    max-width: 95%;
  }

  .mobile-image img {
    max-width: 100%;
    height: auto;
  }

  .information {
    justify-content: center;
  }

  .info-article {
    padding: 2rem 0.25rem;
    flex-direction: column;
    width: 100%;
    border: none;
    justify-content: flex-start;
  }

  .info-text {
    margin: 1rem 0 0 3rem;
    align-self: flex-start;
  }
}

    /*Courses section*/

.info-text h3,
.course h3,
.thesis-text h3,
.video-thesis h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h2, ul li {
  text-transform: uppercase;
}

.info-text p,
.thesis-text p {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.info-text a {
  color: #4a90e2;
  font-size: 1.75rem;
  transition: color 0.2s ease-out;
}

.info-text a:hover {
  color: #8bb8ee;
}

.courses-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaebec;
}

.headline {
  font-size: 4rem;
  font-weight: 800;
  margin: 3rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4.5rem 0 4.5rem;
}

.course {
  max-width: 27%;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 0 1rem 2rem 1rem;
  cursor: pointer;
  transition: background 0.15s ease-out;
}

.course:hover {
  background: #d8d8d8;
}

.course-text {
  margin: 2rem 2rem 1rem 2rem;
}

.course-text p,
.video-thesis p {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  color: #767676;
}

@media only screen and (max-width: 1480px) {
  .course-text h3 {
    font-size: 2.2rem;
  }

  .course-text p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .course-text {
    margin: 1rem 1rem 0 1rem;
  }
}

@media only screen and (max-width: 1085px) {
  .course-text p,
  .course-image {
    display: none;
  }

  .course {
    max-width: 100%;
    margin: 0 0 0.5rem 0;
    background: #d8d8d8;
  }

  .courses-section {
    background: #f5f4f5;
    border-top: 1px solid #d8d8d8;
    padding-bottom: 3rem;
  }

  .courses {
    flex-direction: column;
    width: 95%;
  }

  .course-text {
    max-width: 100%;
  }

}

    /*Thesis section*/

.thesis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f5f5;
}


.thesis-image,
.thesis-image img {
  width: 250px;
}

.video-thesis {
  max-width: 55%;
  margin: 0 5rem 3rem 2.05rem;
}

video {
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.thesises {
  display: flex;
}

.thesis {
  display: flex;
  flex-basis: 500px;
  flex-shrink: 0;
  cursor: pointer;
}

@media only screen and (max-width: 1085px) {
  .thesis-select,
  .video-thesis h3,
  .video-thesis p {
    display: none;
  }

  .thesis-section {
    border-top: 1px solid #d8d8d8;
  }

  video {
    margin: 0;
  }

  .thesises {
    justify-content: center;
  }

  .video-thesis {
    max-width: 100%;
    margin: 0;
  }
}

    /*Footer*/

footer {
  border-top: 1px solid #e0e2e2;
  background: #f3f5f5;
  color: #767676;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 2rem;
  font-size: 1.25rem;
}

.footer-nav {
  display: flex;
}

i {
  padding-right: 0.5rem;
  transition: color 0.15s ease-in-out;
}

i:hover {
  color: #000;
  cursor: pointer;
}

ul {
  padding-left: 0.5rem;
}

.footer-nav ul li {
  margin: 0 1rem 0 0;
}

@media only screen and (max-width: 1085px) {
  footer {
    border-top: none;
  }

  .footer {
    padding: 1rem 0 1rem 1rem;
  }

  .copyright {
    font-size: 1rem;
  }
}
